# displaying data

In [2]:
print('welcome to displaying data') # static message to display

welcome to displaying data

In [4]:
a= 'alex'
b= 'baron'
print(a) # display the value of a
print(b) # display the value of b

alex
baron

In [5]:
print(a,b)
print(a,a,a,a)

alex baron
alex alex alex alex

In [6]:
name= input('enter your name')
print('your name is',name)

your name is vanshika

In [7]:
num1= input('enter a number')
num2= input('enter another number')

In [12]:
num1= input('enter a number')
num2= input('enter another number')
print('the print num is', num1, 'and the second num is',num2)

the print num is 23 and the second num is 44

In [13]:
print('the first num is', num1)
print()
print('and the second num is',num2)

the first num is 23

and the second num is 44

In [20]:
a,b,c= 5,3.2, "Hello" # multiple assignment
print("the value are %d, %f, %s" %(a, b, c)) # %d= int, %f= float, %s= string

the value are 5, 3.200000, Hello

In [21]:
# format method
print('the value of a=>{}, b=>{}, c=>{}'.format(a, b, c))

the value of a=>5, b=>3.2, c=>Hello

In [22]:
# string concatenation
print('Hello'+ 'World')
print('the values of a=' + str(a))
print('the value of c=' + c)
print('the value of b=' + str(b))

HelloWorld
the values of a=5
the value of c=Hello
the value of b=3.2

In [23]:
# f string
print(f'the value of a=>{a}, b=>{b}, c=>{c}')

the value of a=>5, b=>3.2, c=>Hello

# f-string

In [26]:
a,b = 10,3
print(f'{a}/{b} = {a/b}')
print(f'{a}/{b} = {a/b:.2f}') # 2f. = 2 decimal places

10/3 = 3.3333333333333335
10/3 = 3.33

In [29]:
# alignment
name= 'Alex'
print(f'Your are{name}')
print(f'Your are{name:10}') # 10 here is number of characters for display
print(f'Your are {name:>10}') # right alignment 
print(f'Your are {name:>10}') # center alignment

Your areAlex
Your areAlex
Your are       Alex
Your are       Alex

In [28]:
a,b,c,d= 'Apple', 'Blueberry', 'Cherry', 'Dragonfruit'
print(f'fruit 1: {a:>11}')
print(f'fruit 2: {b:>11}')
print(f'fruit 3: {c:>11}')
print(f'fruit 4: {d:>11}')

fruit 1:       Apple
fruit 2:   Blueberry
fruit 3:      Cherry
fruit 4: Dragonfruit