programing flow
- conditional flow
  - if
  - if else
  - if elif else 
  - match case 
- iterative flow 
 - for loop 
 - while loop

In [1]:
if 'hello':
    print('hello everyone')

hello everyone

In [2]:
x= 'hello'
if len(x) >= 5:
    print('hello everyone')

hello everyone

In [3]:
a= int(input('enter a number'))
if a * 2> 100:
    print('a * 2 is greater than 100')
if a + 50 > 100:
    print('a + 50 is greater than 100')

In [4]:
x= int(input('enter a number'))
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is even

wap to find out the total salary of the employee based on the following data 
total salary: user inputted 
hra= 5%
da= 3.3 %
ta = 2.61% 

'total = salary + da + ta + hra'

*rule* 
'if hra is less than 1000 then don't add hra to total'

In [ ]:
def calculate_salary(basic_salary)
    HRA= 5%
    TA= 2.6% 
return basic_pay+(basic_pay * HRA) + (basic_pay * TA)
basic_pay=float(input('enter your basic pay:'))
print('your salary is:', calculate_salary(basic pay))

In [26]:
name = input("what movie did you watch")
num_str = input('enter movie rating')
if num_str.isnumeric():
    num = int(num_str)
    print(f"movie: {name}")
    if num==1:
        print('star(terrible)')
    elif num== 2:
        print('⭐⭐(bad)')
    elif num == 3:
        print('⭐⭐⭐(avarage)')
    elif num == 4:
        print('⭐⭐⭐⭐(good)')
    elif num == 5:
        print('⭐⭐⭐⭐⭐(excellent)')
    else:
        print('⚠️ invalid rating')
else:
    print('you are stupid, just watch the movie')

movie: king kong
⭐⭐⭐⭐⭐(excellent)

In [11]:
# match case - use this to match multiple values
day = input('enter a day of the week:')
match day.lower():
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('data science/data analytics')
    case 'thursday':
        print('clas off')
    case 'saturday'|'sunday':
        print('weekend(no class)')
    case _: # default case 
        print('invalid day')

data science/data analytics

# single line condition

In [12]:
x= int(input('enter a number:'))
print("above 100") if x> 100 else print("below 100")

below 100

# loops

#### for loop
- step based
for var in iterable:
statement

#### while loop 
- condition based

In [13]:
for v in 'helloooo':
    print(v)

h
e
l
l
o
o
o
o

In [14]:
colors = ['red', 'green', 'blue']
for i in colors:
    print(i)

red
green
blue

In [15]:
# index and value 
for i, v in enumerate(colors):
    print(i, v)

0 red
1 green
2 blue

In [17]:
numlist = [12,56,7,2,6,10,20]
for num in numlist:
    print(f'{num:<3} => {num * 10}')   # left alignment

12  => 120
56  => 560
7   => 70
2   => 20
6   => 60
10  => 100
20  => 200

In [ ]:
num = 13
# to take input from the user 
# num = int(input("display multiplacation table of 13"))

# to iterate 10 times from

In [18]:
seq =[1,2,3,4,5,6,7,8,9,10]
num = 13
for i in seq:
    print(f'{num} * {i} = {num * i}')

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [19]:
num = 13
for i in range(13):
    print(f'{num} * {i} = {num * i}')

13 * 0 = 0
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
13 * 11 = 143
13 * 12 = 156

In [20]:
num = 13
for i in range(10,101,5):
    print(f'{num} * {i} = {num * i}')

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [22]:
# only even numbers 
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [23]:
# reverse loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1