- creating
- indexing and slicing
- methods 
- tips and tricks

In [17]:
a = 'apple'
b= "apple"
c = '''this is very useful in multiline messages'''
d = str(8329)

In [18]:
# types of srings
# f-string
x = f'{a} is a fruit'
print(x)
# raw string (r)(special characters)
addr = r'c:\users\zaid\desktop'
print(addr)
# unicode string
uni = u'hello'
print(uni)
# byte string (b)
byt = b'hello'
print(byt)

apple is a fruit
c:\users\zaid\desktop
hello
b'hello'

# indexing

In [19]:
v = 'encyclopedia'
print(v[0]) # first index
print(v[1]) # second index
print(v[2]) # third index
print(v[11]) # last index
print(v[-1]) # last index 
print(v[-12]) # first index 
print('second last', v[-2])
print('sixth last', v[-6])

e
n
c
a
a
e
second last i
sixth last o

slicing in python
.....
x[start : stop]
.....

In [20]:
a= 'Encyclopedia'
print(len(a))
print(a[2:8])

12
cyclop

In [21]:
name= 'Vijay deenanath chauhan'
firstname = name[0:5]
print(firstname)
middlename= name[6:15]
print(middlename)
lastname= name[16:23]
print(lastname)

Vijay
deenanath
chauhan

In [22]:
name[:5] # first 5 characters

'Vijay'

In [11]:
name= [6:19] # from 6th idx to end

SyntaxError: invalid syntax (929709485.py, line 1)

In [7]:
name= [16:] # from 16th idx to end

SyntaxError: invalid syntax (885687586.py, line 1)

In [8]:
msg = "Journey Before Destination"
msg=[-11:]

SyntaxError: invalid syntax (2825272179.py, line 2)

In [ ]:
msg = 'once upon a time, there was a place called eternia'
msg[-7:]

'eternia'

In [ ]:
amt= '$800999'
amt= int(amt[1:])
print(amt)

800999

In [24]:
msg[::2] # every 2nd character(even index)

'oc pnatm,teewsapaecle tri'

In [25]:
msg[1::2] # every 2nd character (odd index)

'neuo  ie hr a  lc aldeena'

In [26]:
# most op thing in slicing 
msg[::-1] # reverse the string

'ainrete dellac ecalp a saw ereht ,emit a nopu ecno'

In [27]:
msg[::-1][:5]

'ainre'

In [28]:
name[6:15][::-1]

'htananeed'

string methods
- formatting 
- validation 
- find & replace 
- etc

In [5]:
quote = "All the glitter is not GoldðŸ’›"
quote_upper = quote.upper()
quote_lower = quote.lower()
quote_capitalize = quote.capitalize()
quote_swapcase = quote.swapcase()
quote_title = quote.title()
print(quote)
print(quote_upper)
print(quote_capitalize)
print(quote_swapcase)
print(quote_title)
quote_lower = quote.lower()
print(quote_lower)

All the glitter is not GoldðŸ’›
ALL THE GLITTER IS NOT GOLDðŸ’›
All the glitter is not goldðŸ’›
aLL THE GLITTER IS NOT gOLDðŸ’›
All The Glitter Is Not GoldðŸ’›
all the glitter is not goldðŸ’›

In [12]:
quote.rjust(50)

'                      All the glitter is not GoldðŸ’›'

In [13]:
quote.center(50,'-')

'-----------All the glitter is not GoldðŸ’›-----------'

In [14]:
name.isnumeric()

NameError: name 'name' is not defined

In [31]:
fname= input("enter ur name:(dont use numbers)")
if fname.isalpha():
    print("valid name, very good")
else:
    print("what kind of name is this")

what kind of name is this

In [15]:
# find and index methods for searching strings 
msg.find('place') # returns the index of the first occurence of the substring

NameError: name 'msg' is not defined

In [34]:
data = 'Roshar is a place of magic and wonder, place of knights and kings. Its a place of highstorms and shardblades'''
print(data.find('place'))
print(data.find('Place', 13)) # 13 is the starting index for searching
print(data.find('Place')) # -1 means not found 
print(data.lower().find('place')) # -1 means not found 
# reverse find 
print(data.rfind('place')) # returns the index of the last occurence of the substring

12
-1
-1
12
73

In [16]:
# replace method 
data.replace('place', )

NameError: name 'data' is not defined

In [35]:
data.replace('o','a')

'Rashar is a place af magic and wander, place af knights and kings. Its a place af highstarms and shardblades'

In [36]:
data.replace('i','e').replace('k','c').replace('a','b')

'Roshbr es b plbce of mbgec bnd wonder, plbce of cneghts bnd cengs. Its b plbce of heghstorms bnd shbrdblbdes'

In [38]:
print(data.replace(' ','_',3))

Roshar_is_a_place of magic and wonder, place of knights and kings. Its a place of highstorms and shardblades

split and join

In [1]:
fruits = input("enter names of fruits")
print(len(fruits))
print(fruits)
fruitlist = fruits.split()
print(fruitlist)

26
apple banana cherry durian
['apple', 'banana', 'cherry', 'durian']

In [2]:
'this is some message'.split()

['this', 'is', 'some', 'message']

In [3]:
quote = "life before death, strength before weakness, journey before destination"
quote.split(',')

['life before death',
 ' strength before weakness',
 ' journey before destination']

In [4]:
quote.split('before')

['life ', ' death, strength ', ' weakness, journey ', ' destination']

In [5]:
poem = '''Johnny johnny yes papa
eating sugar? no papa
telling lies? no papa
open your mouth, ha ha ha'''
poem.splitlines()

['Johnny johnny yes papa',
 'eating sugar? no papa',
 'telling lies? no papa',
 'open your mouth, ha ha ha']

In [6]:
addr = ['c:','users','zaid','desktop','file.txt']
"/".join(addr)

'c:/users/zaid/desktop/file.txt'

In [11]:
name = input("enter your name, month and year of birth seperated by coma:")
words = data.split(',')
print(words)
name = "_".join(words)
print(f'img_{name}.jpg')

NameError: name 'data' is not defined

In [12]:
name = input('enter your name')
print('your name is', name)

your name is vanshika

In [13]:
colours = input('white, purple, black, blue')
print(len(colours))
print(colours)

23
white purple black blue

In [17]:
a = 'python is great'
print(len(a))
print(a[9:])

15
 great

In [19]:
a = 'hello world'
print(a[::-1])

dlrow olleh

In [21]:
# count method
n= quote.count('before')
print(f'before occurs {n} times in the quote')

before occurs 3 times in the quote

In [23]:
quote.count('e')

13

starts with 
end with

In [24]:
'Mr Bean'.startswith('Mr')

True

In [25]:
'Mr Bean'.startswith('Ms')

False

In [26]:
name = input('enter ur name')
if name.startswith('Mr'):
    print('Hello Sir')
else:
    print('This is a meeting of gentlemen only')

This is a meeting of gentlemen only

In [ ]:
filename = input("enter filename")
print(f"filename:{filename}")
if filename.endswith('.csv'):
    print("dataset file")
elif filename

In [27]:
# strip 
movie = input('enter movie name:')
clean_movie = movie.stip()
print(movie)
print(clean_movie)
print(f'movie: {len(movie)}')
print(f'clean name: {len(clean_movie)}')

AttributeError: 'str' object has no attribute 'stip'

In [ ]:
'hello '